---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  projects: CollectionEntry<"projects">[]
}

const { projects } = Astro.props

const data = projects.map((project) => {
  return project.data
})

---


<section class=" max-md:px-1.5 grid grid-cols-4 grid-rows-4 max-w-screen-2xl mx-auto lg:px-16 lg:my-10 gap-4 my-10" >
  <div class="col-span-2 row-span-2 hover:shadow-xl transition-all hover:scale-[0.98] " >
    <a href={`proyectos/${projects[0].id}`}  >
      <Image src={data[0].image} alt={"slider1"} class={"w-full h-full object-cover object-top"}
      transition:name={`${projects[0].id}}-image`}
      />
    </a>
  </div>

  <div class="hover:shadow-2xl transition-all hover:scale-[0.98]  " >
    <a href={`proyectos/${projects[1].id}`}  >
      <Image src={data[1].image} alt={"slider1"} class={"w-full h-full object-cover object-top"}
      transition:name={`${projects[1].id}}-image`}
      />
    </a>
  </div>

  <div class="hover:shadow-2xl transition-all hover:scale-[0.98] ">
    <a href={`proyectos/${projects[2].id}`}  >
      <Image src={data[2].image} alt={"slider1"} class={"w-full h-full object-cover object-top"}
      transition:name={`${projects[2].id}}-image`}
      />
    </a>
  </div>

  <div class="hover:shadow-2xl transition-all hover:scale-[0.98] ">
    <a href={`proyectos/${projects[3].id}`}  >
      <Image src={data[3].image} alt={"slider1"} class={"w-full h-full object-cover object-top"}
      transition:name={`${projects[3].id}}-image`}
      />
    </a>
  </div>

  <div class="hover:shadow-2xl transition-all hover:scale-[0.98] ">
    <a href={`proyectos/${projects[4].id}`}  >
      <Image src={data[4].image} alt={"slider1"} class={"w-full h-full object-cover object-top"}
      transition:name={`${projects[4].id}}-image`}
      />
    </a>
  </div>


  <div class="col-span-2 row-span-2 hover:shadow-2xl transition-all hover:scale-[0.98] " >
    <a href={`proyectos/${projects[5].id}`}  >
      <Image src={data[5].image} alt={"slider1"} class={"w-full h-full object-cover object-top"}
      transition:name={`${projects[5].id}}-image`}
      />
    </a>
  </div>


  <div class="col-span-2 row-span-2 hover:shadow-2xl transition-all hover:scale-[0.98] ">
    <a href={`proyectos/${projects[6].id}`}  >
      <Image src={data[6].image} alt={"slider1"} class={"w-full h-full object-cover object-top"}
      transition:name={`${projects[6].id}}-image`}
      />
    </a>
  </div>

</section>


