---
import NavbarLink from "@/components/NavbarLink.astro";
import {MenuMobile} from "@/constants";
import menuOpen from "@/images/icons/menu-Open.svg";
import menuClose from "@/images/icons/menu-Close.svg";
---

<nav class="bg-white flex justify-between py-5 px-7 md:hidden">
   <a href="/">
      <h1 class="text-2xl">Logo</h1>
   </a>
    <button id="mobile-menu-open">
         <img src={menuOpen.src} class="w-6" alt="icono para abrir el menu">
    </button>

    <section
      id="mobile-menu"
     class="fixed top-0 left-0  z-10 w-full h-full transition-all bg-black/40">
      <div id="menu-links" class="flex flex-col bg-white w-[75%] h-full drop-shadow-2xl">
         <div class="flex justify-end px-7 py-5">
            <button id="mobile-menu-close">
               <img src={menuClose.src} class="w-6" alt="icono para cerrar el menu">        
            </button>
         </div>
       
        <ul class="unset flex flex-col text-text-bold gap-4 [&>li]:p-0 px-6">

          {MenuMobile.map((item) =>
            <li>
              <NavbarLink class="capitalize menu-link" href={item.url} >{item.name}</NavbarLink>
            </li>)
          } 
        </ul>
      </div>
    </section>
</nav>



<!-- 
<script>
  // @ts-nocheck

  function setupMenuListeners() {
    const openButton = document.querySelector("#mobile-menu-open");
    const closeButton = document.querySelector("#mobile-menu-close");
    const menu = document.querySelector("#mobile-menu");

    if (openButton && closeButton && menu) {
      // Limpiar event listeners previos
      openButton.removeEventListener("click", openMenu);
      closeButton.removeEventListener("click", closeMenu);
      menu.removeEventListener("click", closeMenuOutside);

      // abrir menu
      openButton.addEventListener("click", openMenu);
      
      // cerrar menu
      closeButton.addEventListener("click", closeMenu);

      // cerrar menu si clickeas afuera
      menu.addEventListener("click", closeMenuOutside);
    }
  }

  function openMenu() {
    const menu = document.querySelector("#mobile-menu");
    menu.classList.remove("-translate-x-full");
    menu.classList.add("translate-x-0");
  }

  function closeMenu() {
    const menu = document.querySelector("#mobile-menu");
    menu.classList.remove("translate-x-0");
    menu.classList.add("-translate-x-full");
  }

  function closeMenuOutside(e) {
    const menu = document.querySelector("#mobile-menu");
    if (!e.target.closest("#menu-links")) {
      closeMenu();
    }
  }

  // Llama a la función al cargar el componente
  document.addEventListener("DOMContentLoaded", setupMenuListeners);

  // Observador de cambios en el DOM
  const observer = new MutationObserver(setupMenuListeners);
  observer.observe(document.body, { childList: true, subtree: true });
</script>
 -->
