---
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from 'astro:content';
import { getCollection } from "astro:content";
import SectionTitle from '@/components/SectionTitle.astro';

interface Props {
    project: CollectionEntry<"projects">
}

export const getStaticPaths = ( async () => {
    const projects = await getCollection('projects');
    return projects.map((project) => (
        {
            params: { slug: project.id },
            props: { project: project }
        }
    ))
}) satisfies GetStaticPaths;

// const { slug } = Astro.params;
const {project} = Astro.props;

// tomar la data dinamica de los proyectos
const {data} = project

---

<Layout title={data.title} >
    <SectionTitle title={data.title} subtitle="titulo principal portadas"/>
    <section class="mx-auto max-w-screen-lg grid grid-cols-4 grid-rows-4 my-10 gap-6 max-h-[140vh]" >
        <div class="col-span-2 row-span-1" >
            <Image src={data.image} alt={data.title} 
            loading="lazy"
            format="webp"
            quality={100}
            transition:name={`${project.id}}-image`}
            class="object-cover size-full" />
        </div>
        <div class="col-span-2 row-span-1  " >
            <Image src={data.image} alt={data.title} 
            loading="lazy"
            format="webp"
            quality={100}
            class="object-cover size-full" />
        </div>
        <div class="col-span-4 row-span-1  " >
            <Image src={data.image} alt={data.title} 
            loading="lazy"
            format="webp"
            quality={100}
            class="object-cover size-full" />
        </div>

        <div class="col-span-2 row-span-2 " >
            <Image src={data.image} alt={data.title} 
            loading="lazy"
            format="webp"
            quality={100}
            class="object-cover size-full" />
        </div>

        <div class="col-span-2 row-span-1  " >
            <Image src={data.image} alt={data.title} 
            loading="lazy"
            format="webp"
            quality={100}
            class="object-cover size-full" />
        </div>
   
        <div class="col-span-2 row-span-1 " >
            <Image src={data.image} alt={data.title} 
            loading="lazy"
            format="webp"
            quality={100}
            class="object-cover size-full" />
        </div>

    </section>
</Layout>